[Libraries]
[Librarie]/
[Libraries]/
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/
UserSettings/

nul
 
# IDE
.vs/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs

# Autres fichiers inutiles
.DS_Store
Thumbs.db
/.idea/.gitignore
/Assets/Scripts/Utils/InputTester.cs
/Assets/Scripts/Utils/InputTester.cs.meta
/Assets/Scripts/.claude/settings.local.json
/Assets/Scripts/SETUP_GUIDE.md
/Assets/Scripts/SETUP_GUIDE.md.meta
/Assets/Scripts/UI/UI_SETUP.md
/Assets/Scripts/UI/UI_SETUP.md.meta
